---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - javascript

toc_footers:
  - <a href='https://sareye.com'>Our website</a>
  - <a href='https://sareye.sardynamics.com/demo_requests/new?mobile=0'>Contact us</a>

includes:
  - introduction
  - authentication

  - areas/areas
  - areas/index
  - areas/show
  - areas/destroy

  - checklists/checklists
  - checklists/index

  - courses/courses
  - courses/index

  - devices/devices
  - devices/index

  - dispatch_groups/dispatch_groups
  - dispatch_groups/index

  - dispatch_response_types/dispatch_response_types
  - dispatch_response_types/index

  - dispatch_responses/dispatch_responses
  - dispatch_responses/index

  - dispatches/dispatches
  - dispatches/index

  - groups/groups

  - issue_types/issue_types
  - issue_types/index

  - issues/issues.md
  - issues/create
  - issues/destroy
  - issues/index
  - issues/show
  - issues/update

  - kinds/kinds
  - kinds/index

  - leader_types/leader_types
  - leader_types/index

  - maintenances/maintenances
  - maintenances/index

  - operation_logs/operation_logs

  - operation_scales/operation_scales
  - operation_scales/index

  - operation_types/operation_types
  - operation_types/index

  - operation_view_history/operation_view_history
  - operation_view_history/index

  - operations/operations
  - operations/index

  - plans/plans

  - priorities/priorities
  - priorities/index

  - resources/resources
  - resources/index

  - risk_templates/risk_templates
  - risk_templates/index

  - risks/risks
  - risks/index

  - rounds/rounds

  - surveys/surveys

  - tags/tags
  - tags/index

  - tasks/tasks

  - trackers/trackers
  - trackers/index

  - triage_location_types/triage_location_types
  - triage_location_types/index

  - triage_status_types/triage_status_types
  - triage_status_types/index

  - triages/triages

  - units/units
  - units/index

  - users/users

  - errors

search: true
---
